.head{
    text-align: center;
    background-color: black;
    color: white;
    padding: auto;
    margin-left: auto;
    font-family:monospace;
    font-size: 40px;
}
.body{
    background-color:rgba(4, 91, 117, 0.888);
}
.image{
    width: 300px;
    height: auto;
    border-radius: 150%;
    display:flex;
    margin: auto;
}
.icon{
    display: flex;
    height:max-content;
    width:max-content;
    margin: auto;
    padding: 10px;
    
}
.icon img{
    display: inline-block;
    margin-right: 20px;
    border-radius: 100%;
}
.text{
    text-align: center;
}
.button{
    display: flex;
    font-size: 16px;
    color: white;
    background-color:black;
    text-align: center;
    border-radius: 98%;
    margin: auto;
    padding: 10px 20px;
}